/* add your CSS here */
h3{
    font-size: 16pt;
    border-width: 1px;
    padding: 1px;
    font-family: sans-serif; serif;
}

.container{
    width: 320px;
    max-width: 320px;
    height: 520px;
    border-style:ridge;
    background-color: rgb(211, 218, 212);
    padding: 7px;
    padding-top: 1px;
    box-sizing: border-box;
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 7px 3.5px 3.5px RGB(222, 204, 156);
}

.image{
    width: 300px;
    height: 200px;
    border-style:ridge;
    padding: 1px;
    padding-top: 1px;
    box-sizing: border-box;
}

.box{
    width: 300px;
    height: 230px;
    border-style:ridge;
    padding: 5px;
    padding-top: 1px;
    box-sizing: border-box;
    background-color: RGB(222, 204, 156);
    
}
.inner-box{
    list-style: none;
    border-width: 1px;
    padding: 1px;
    box-sizing: border-box;
    font-size: 10.5px;
    font-family: sans-serif;
}

.fact{
    font-style: italic;
}

.labels{
    font-weight: bold;
}

